


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9aa3ba;
    line-height: 26px;
    background-color: #f1f1f1;
}


a{
    text-decoration: none;
}


h1{
    font-size: 80px;
    font-weight: 600;
    color: #192b59
}


.menu{
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
}
.menu{
    display: flex;
    justify-content: space-around;

}
.menu li{
    
    margin-top: 40px;
}


.btn-start{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
    font-weight: 700;
    padding: 16px 34px;
    border-radius: 30px;
    letter-spacing: 0.8px;
    border: 1px solid #1085e4;
}

.btn-start:hover{
    color: #1085e4;
    background-color: #fff;
}

.btn-group a+a{
    margin-left: 15px;
}

.btn-free{

    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 16px 47px;

}


.btn-learn1{
    font-size: 12px;
    color: #7e8bae;
    text-transform: uppercase;
    background-color: #cbdbe8;
    font-weight: 700;
    border: 1px solid #cbdbe8;
}

.btn-learn1:hover{
    background-color: #fff;
}


.btn-info{
    font-size: 12px;
    font-weight: 700;
    color: #9aa3ba;
    padding: 17px 59px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    border-radius: 30px;
}

.btn-info:hover{
    
    border: 1px solid #1085e4;
    color: #1085e4;
}

.btn-active{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 17px 59px;
    text-transform: uppercase;

}

.btn-active:hover{
    background-color: transparent;
}

.btn-form{
    font-size: 12px;
    font-weight: 600;
    padding: 17px 53px;
    color: #fff;
    background-color: #1085e4;
}

.grid h2{
font-size: 40px;
color: #192b59;
font-weight: 700;
}


.grid span{
    font-size: 14px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
    font-weight: 800;
}


.grid-item h3{
font-size: 20px;
font-weight: 600;
color: #192b59;
}


.grid-item a{
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}


.grid-itemlasttxt{
    color: #1085e4;
    font-size: 16px;
    display: flex;
    font-weight: 400;
    
}


.grid-itemlasttxt span{
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}


.page-subscribe h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    
}


.page-subscribe span{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase ;
    display: block;
    color: #1085e4
}

.page-subscribe p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}


.page-subscribe button{
    background-color: #1085e4;
    color: #fff;
    padding: 12px 38px;
    font-size: 14px;
    font-weight: 700;
}


.page-subscribe input{
    background-color: #0d2a97;
    color: #b1c3ee;
    font-size: 14px;
    font-weight: 400;
}


.page-software h2{
    color: #192b59;
    font-size: 50px;
    font-weight: 600;


}
.page-software dt{
    color: #5a6789;
    font-weight: 700;
}



.page-stat h2{
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
}


.page-stat span{
    display: flex;
    color: #1085e4;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}


.page-stat li{
    color:#bacbdc;
    font-size: 50px;
    font-weight: 800;
    display: flex;
}

.fact{
    display: flex;
    justify-content: space-around;

}

.fact span{
    padding-bottom: 40px;
    order: 1;

}

.fact li{
    display: flex;
    flex-direction: column;

}

.page-app h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}


.available{
    color: #c4d2dd;
    font-size: 16px;
    font-weight: 700;
}

.page-landing h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}


.page-landing a{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
}


.page-control h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}


.page-control a{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
}


.page-screen h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}


.page-screen span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
    display: flex;
}


.page-clients h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-clients span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #85c8ff;
}



.name{
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
}

.position{
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
}


.page-plan h2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}


.page-plan span{
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
}


.page-plan h3{
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.page-plan p{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
}

.page-plan ul{
    font-size: 14px;
    font-weight: 400;
}

.box-price-item span{
    color: #7b8ab2;
    font-weight: 700;
    font-size: 14px;
}


.active h3 {
    color: #fff;
}

.active p {
    color: #fff;
}

.active ul {
    color: #fff;
}

.page-team h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}


.page-team span{
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
}

.box-team p{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
}

.box-team span{
    font-size: 26px;
    font-weight: 600;
    text-transform: none;
    color: #192b59;
}


.page-form h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-form input{
    font-size: 14px;
    font-weight: 400;
}


.footer p{
    font-size: 16px;
    font-weight: 400;
}

.footer a{
    color: #1085e4;
}    